<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Student Dashboard</title>
</head>
<body>
    <h1>Student Dashboard</h1>
    <form method="POST">
        Exam Code: <input type="text" name="exam_code"><br>
        <button type="submit">Start Exam</button>
    </form>
    <h2>Participated Exams</h2>
    <ul>
        {% for exam in exams %}
            <li>{{ exam[1] }} - <a href="/view_result/{{ exam[0] }}">View Result</a></li>
        {% endfor %}
    </ul>
</body>
</html>