<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write Exam</title>
</head>
<body>
    <h1>Write Exam</h1>
    <form method="POST">
        {% for question in questions %}
            <p>{{ question[2] }}</p>
            <textarea name="answer_{{ question[0] }}"></textarea><br>
        {% endfor %}
        <button type="submit">Submit</button>
    </form>
</body>
</html>